.popup {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 20px;
    isolation: isolate;
    position: relative;
    max-width: 90%;
    width: 25rem;
    border-radius: 24px;
    overflow-y: auto;
    height: 80%;
    background-color: #fff;
    }
    .modal_close {
        position: absolute;
        width: 17px;
        height: 17px;
        right: 1rem;
        top: 1rem;
    
    }