.associated {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: fit-content;
	margin: 0 auto;
}
.associated > * {
	margin: 1rem 1.5rem;
}

@media (max-width: 1279px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
	.associated img {
		margin: 0.75rem;
		height: 32px;
	}
	.associated {
		max-width: 460px;
	}
}

@media (max-width: 639px) {
}
