.benefits {
	margin-bottom: 7.5rem;
}

.benefits h2 {
	margin-bottom: 3.5rem;
}

.content-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2rem;
}

.benefit {
	max-width: 280px;
}
.benefit img {
	margin-bottom: 1.25rem;
}
.benefit h3 {
	font-size: 1.75rem;
	line-height: 1.4;
	font-weight: 500;
	margin-bottom: 1.25rem;
}
.benefit p {
	font-size: 1.125rem;
	line-height: 1.6;
}

@media (max-width: 1279px) {
	.content-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2rem;
		row-gap: 3rem;
	}
}

@media (max-width: 1023px) {
	.content-wrapper {
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
		row-gap: 3rem;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 639px) {
}

@media (max-width: 480px) {
	.benefit {
		max-width: 320px;
	}
	.content-wrapper {
		grid-template-columns: 1fr;
		column-gap: 2rem;
		row-gap: 3rem;
	}
}
