.features {
    margin: 4rem 0;
}

.heading-wrapper {
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #000000;

}


.features-content {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    flex-wrap: wrap;
    max-width: 50.813;
    gap: 3rem;

}

.features-content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.features-content>div>h3 {
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}

.features-content>div>p {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #666F77;
}



@media (max-width: 1023px) {
    .features {
        margin: 2rem 0 1rem 0;
    }

    .features-content>div>h3 {
        font-size: 48px;
    }

    .features-content>div>p {
        font-size: 20px;
    }


}

@media (max-width: 767px) {}

@media (max-width: 639px) {
    .features {
        margin-top: 1.5rem;
    }

    .features-content>div>h3 {
        font-size: 35px;
    }

    .features-content>div>p {
        font-size: 15px;
    }


}