.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    flex: 1;

}

.hero h1 {
    font-size: 5.75rem;
    text-align: center;
    line-height: 1.15;
    display: flex;
    flex-direction: column;
}

.hero h1>span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-wrapper {
    display: flex;
    position: relative;
}

.changing-text {
    font-weight: 600;
    position: relative;
    width: fit-content;
    align-self: center;
    /* background-color: rgba(244, 227, 28, 0.42); */
    padding: 0 0.75rem 0.65rem 1rem;
}

.twinkle-wrapper {
    position: absolute;
    top: 7rem;
    left: -7rem;
}

.twinkle-1 {
    width: 2.875rem;
    height: auto;
    transform: rotate(18deg);
}

.twinkle-2 {
    width: 1.25rem;
    height: auto;
    transform: rotate(-73deg);
    position: relative;
    left: 1.75rem;
    top: -0.5rem;
}

.square {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #875efb;
    position: absolute;
    right: -2rem;
    top: 1rem;
    transform: rotate(-55deg);
}

.circle {
    width: 1rem;
    height: 1rem;
    background-color: #f874b3;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    top: 3rem;
}

.circle-img-1,
.circle-img-2 {
    width: 5.75rem;
    height: 5.75rem;
    border-radius: 50%;
    flex-shrink: 0;
    position: absolute;
}

.circle-img-1 {
    background-color: #8bad56;
    background-image: url('/images/hero-circle-1.webp');
    transform: rotate(-20deg);
    left: -4rem;
    top: -2rem;
}

.circle-img-2 {
    background-color: #fd747f;
    background-image: url('/images/hero-circle-2.png');
    transform: rotate(13deg);
    bottom: -1rem;
    right: -6rem;
}

.pill-img-1,
.pill-img-2 {
    width: 8rem;
    height: 5.75rem;
    border-radius: 200px;
    flex-shrink: 0;
    background-color: #65bccb;
    background-image: url('/images/hero-pill-1.webp');
    position: absolute;
    bottom: -2rem;
    left: -8rem;
    transform: rotate(-26deg);
}

.pill-img-2 {
    background-color: #29a2d8;
    background-image: url('/images/hero-in-text.webp');
    background-size: cover;
    display: none;
}

.in-text-img {
    display: inline-block;
    width: 15rem;
    height: 5.75rem;
    margin: 0 1.5rem;
    border-radius: 200px;
    background-image: url('/images/hero-in-text.webp');
    background-color: #29a2d8;
}

.circle-img-1,
.circle-img-2,
.pill-img-1,
.in-text-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.in-text-img {
    background-position: 0 -20px;
}

.description {
    max-width: 400px;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.talk-button,
.consultation-button {
    background-color: var(--blue-second);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    padding: 0 2rem;
    border-radius: 100px;
    border: 1px solid;
}

.consultation-button {
    padding: 0 1.5rem;
}

.talk-button span,
.consultation-button span {
    margin-left: 0.6rem;
    font-weight: 600;
}

.consultation-icon {
    font-size: 1.25rem;
    margin-left: 0.125rem;

}

.membership-icon {
    font-size: 1.5rem;
}

.consultation-button {


    margin-left: 1rem;
    color: #000;
    background-color: #fff;
}

.hero-arrow {
    display: none;
}

@media (max-width: 1279px) {}

@media (max-width: 1023px) {
    .hero h1 {
        font-size: 5rem;
    }

    .in-text-img {
        height: 5.5rem;
        width: 13rem;
    }

    .twinkle-wrapper {
        top: -4rem;
        left: 24%;
    }

    .circle-img-2 {
        bottom: -4rem;
        right: -3rem;
    }

    .pill-img-1 {
        bottom: -5rem;
        left: -5rem;
    }
}

@media (max-width: 767px) {
    .hero h1 {
        font-size: 4.15rem;
    }

    .in-text-img {
        width: 11.5rem;
        height: 5rem;
        margin: 0 1rem;
    }

    .description {
        margin: 1.25rem 0 2rem 0;
    }
}

@media (max-width: 639px) {
    .hero {
        padding: 0 1rem;

    }

    .heading-wrapper {
        width: 100%;
    }

    .description {
        max-width: 400px;
    }

    .hero h1 {
        font-size: 3.25rem;
        width: 100%;
    }

    .consultation-icon {
        font-size: 1.15rem;
    }

    .membership-icon {
        font-size: 1.35rem;
    }

    .changing-text {
        padding: 0;
    }

    .in-text-img {
        display: none;
    }

    .pill-img-2 {
        display: inline-block;
        left: -3rem;
        top: -7rem;
        height: 5.5rem;
        width: 7rem;
        background-position: -13px 0;
    }

    .circle-img-1 {
        top: -7rem;
        left: unset;
        right: -2rem;
    }

    .circle-img-2 {
        right: unset;
        left: -3rem;
        top: unset;
        bottom: -10rem;
    }

    .pill-img-1 {
        left: unset;
        right: -3.75rem;
        top: unset;
        bottom: -9rem;
        height: 5.125rem;
        width: 7rem;
        background-position: -10px 0;
    }

    .twinkle-wrapper {
        right: 30%;
        left: unset;
    }

    .square {
        left: 0;
        right: unset;
        top: 5rem;
        width: 1rem;
        height: 1rem;
    }

    .circle {
        top: 3.25rem;
        width: 0.75rem;
        height: 0.75rem;
    }

    .talk-button,
    .consultation-button {
        margin: 0;
        height: 3rem;
    }

    .consultation-button {
        height: 2.8rem;
    }

    .talk-button {
        margin-bottom: 0.75rem;
    }

    .hero-arrow {
        position: absolute;
        display: inline-block;
        bottom: 2rem;
        opacity: 0.25;
        animation: updown 0.75s ease infinite alternate;
    }

    @keyframes updown {
        0% {
            transform: translate(0, 0.75rem);
        }

        100% {
            transform: translate(0, -0.75rem);
        }
    }
}