.letstalk h2 {
  text-align: center;
}
.letstalk-text {
  max-width: 65ch;
  display: flex;
  margin: auto;
  text-align: center;
}
.letstalk-contact {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.contact-div,
.contact-div2 {
  display: flex;
  align-items: center;
  padding: 14px 18px;
  border-radius: 65px;
  margin-left: 1rem;
  font-size: 18px;
}
.contact-div {
  background: #f4f7f9;
}
.contact-div2 {
  background: #ffe767;
}
.contact-icons-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.letstalk-icon {
height: 72px;
width: 72px; 
 border-radius: 100%;
  background: #f4f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .letstalk-contact {
    flex-direction: column;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-div,
  .contact-div2 {
    margin-top: 1rem;
  }
}
