.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.5rem 4.5rem 1.5rem 4.5rem;
}

.links-list {
	display: flex;
	align-items: center;
}
.links-list li {
	font-size: 0.9rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 3rem;
}
.links-list li:last-child {
	margin-right: 0;
}

.talk-button {
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	height: 3rem;
	padding: 0 1.65rem;
	border-radius: 100px;
}

.talk-button span {
	margin-left: 0.6rem;
	font-weight: 600;
}

.menu-icon {
	display: none;
	font-size: 1.6rem;
	margin-right: 1rem;
}

@media (max-width: 1279px) {
}

@media (max-width: 1023px) {
	.navbar {
		padding: 2rem 2rem 1.5rem 2rem;
	}
	.links-list li {
		margin-right: 1.5rem;
	}
}

@media (max-width: 767px) {
	.menu-icon {
		display: inline-block;
	}
	.links-list {
		display: none;
	}
	.navbar {
		padding: 2rem 1.5rem 1.5rem 1.5rem;
	}
}

@media (max-width: 639px) {
	.navbar {
		padding: 1rem;
		padding-left: 0.75rem;
	}
	.talk-button {
		height: 2.5rem;
		padding: 0 1.25rem;
	}
	.talk-button svg {
		width: 0.875rem;
	}
	.logo {
		height: 28px;
	}
	.menu-icon {
		margin-right: 0.6rem;
	}
}
