.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.5rem 4.5rem 1.5rem 4.5rem;
}

.links-list {
	display: flex;
	align-items: center;
}
.links-list li {
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 3rem;
}
.links-list li:last-child {
	margin-right: 0;
}

.talk-button {
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	height: 3rem;
	padding: 0 1.65rem;
	border-radius: 100px;
}

.talk-button span {
	margin-left: 0.6rem;
	font-weight: 600;
}
