.quote {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 -1rem;
	margin-bottom: 2rem;
}

.content {
	width: 95%;
	background-color: var(--card-bg);
	padding: 4rem;
	border-radius: 2rem;
	padding-right: 10rem;
	display: flex;
	flex-direction: column;
}
.quote h3 {
	font-size: 3.5rem;
	font-weight: 600;
	line-height: 1.15;
}
.quote h3 span.blue {
	color: var(--blue);
}

.quote p {
	font-weight: 500;
	max-width: 620px;
	margin: 2rem 0;
}
.image {
	margin-left: -10rem;
	z-index: 10;
}

.community-button {
	height: 3.75rem;
	display: flex;
	align-items: center;
	border-radius: 100px;
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	background-color: var(--blue);
	padding: 0 2rem;
	width: fit-content;
}
.community-icon {
	font-size: 1.3rem;
	margin-right: 0.5rem;
}

@media (max-width: 1279px) {
	.content {
		padding: 3rem;
		padding-right: 6rem;
	}
	.image {
		margin-left: -5rem;
		width: 320px;
	}
}

@media (max-width: 1023px) {
	.quote h3 {
		font-size: 2.5rem;
		max-width: 550px;
	}
	.quote p {
		margin: 1.5rem 0;
	}
	.quote {
		flex-direction: column-reverse;
		text-align: center;
	}
	.content {
		padding: 3rem;
		padding-top: 7rem;
		padding-bottom: 4rem;
		align-items: center;
	}
	.image {
		margin-left: 0;
		margin-bottom: -5rem;
		width: 70%;
		max-width: 300px;
	}
}

@media (max-width: 767px) {
	.quote {
		margin-bottom: 0;
	}
	.content {
		border-radius: 1.25rem;
		padding: 2rem;
		padding-bottom: 3rem;
		padding-top: 7rem;
	}

	.community-button {
		height: 3.25rem;
		padding: 0 1.5rem;
	}
}

@media (max-width: 639px) {
	.quote {
		margin: 0 -0.75rem;
	}
	.content {
		padding: 1.5rem;
		padding-bottom: 2rem;
		padding-top: 6.5em;
	}
	.quote h3 {
		font-size: 1.8rem;
	}
}
