.wrapper {
    height: 81px;
}

.main {
    background: #58e3a0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    height: 81px;
    position: fixed;
}

.snack-text {
    flex: 1;
    color: #000;
    font-weight: 600;
    font-size: 1.5;
    line-height: 135%;
    text-align: center;

}

.snack-text>a {
    color: #7045E8 !important;
    max-width: 92%;
}

.snack-close {
    padding-right: 2rem;
    color: #000;
}

.snack-close:hover {
    color: rgba(255, 255, 255, 0.733);
}

@media (max-width: 639px) {



    .snack-text {
        font-size: 1rem;
    }

    .snack-close {
        padding-right: 1rem;
    }
}