.coming-soon {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}

.coming-soon > span {
	background: #fbcd29;
	border-radius: 6px;
	padding: 0.5rem 0.5rem 0.4rem 0.5rem;
	line-height: 100%;
	font-weight: 500;
	font-size: 13px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	cursor: default;
}

.intro {
	font-size: 14px;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--text-grey);
}

.store {
	display: flex;
	align-items: center;
	width: fit-content;
	margin: 0 auto;
	width: 100%;
	flex-direction: row-reverse;
}

.heading-wrapper {
	position: relative;
	width: fit-content;
}

.store-decor {
	position: absolute;
	width: 3.5rem;
	height: auto;
	left: -4rem;
	top: -4rem;
}

.image {
	width: 44%;
	max-width: 100%;
	background-image: url('/images/store.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	flex-shrink: 2;
}

.spacer {
	width: 5rem;
	height: 5rem;
	flex-shrink: 0;
}

.content {
	max-width: 32rem;
	flex-shrink: 1;
}

.content p {
	margin: 1rem 0 1.5rem 0;
}

.content h2 {
	font-weight: 600;
	line-height: 1.2;
}

.phone-no {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 1rem 0;
	margin-right: 1.5rem;
	white-space: nowrap;
}

.store-button {
	height: 3.75rem;
	display: flex;
	align-items: center;
	padding: 0 2rem;
	color: #fff;
	border-radius: 100px;
	background: #163af4;
	opacity: 0.6;
	border-radius: 67px;
}

.whatsapp-icon {
	font-size: 1.35rem;
}

.store-button span {
	font-weight: 600;
	margin-left: 0.6rem;
	margin-top: 0.125rem;
}

@media (max-width: 1279px) {
	.spacer {
		width: 3rem;
		height: 3rem;
	}
}

@media (max-width: 1023px) {
	.spacer {
		width: 2rem;
		height: 2rem;
	}

	.phone-no {
		font-size: 1.15rem;
	}
}

@media (max-width: 767px) {
	.image {
		width: 100%;
		max-width: 400px;
		padding: 0 1rem;
	}

	.store {
		flex-direction: column;
	}

	.spacer {
		height: 1rem;
	}

	.store-button {
		height: 3.25rem;
		padding: 0 1.5rem;
	}
}

@media (max-width: 639px) {
	.phone-no {
		font-size: 1.1rem;
		margin-right: 1rem;
	}

	.store-decor {
		width: 2.5rem;
		height: auto;
		left: 8rem;
		top: -2rem;
	}
}
