.hiring {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0rem 0rem 8rem 0rem;
}

.text {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #163AF4;
}

.suitcase {
    width: 56px;
    height: 56px;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 2rem;
}

.arrow-1 {
    position: absolute;
    bottom: 0;
    left: 0rem;
    z-index: 1;
    bottom: -1rem;
    width: 12rem;
    height: 19rem;
}

.arrow-1-1 {
    position: absolute;
    bottom: 0;
    left: 0rem;
    z-index: 1;
    bottom: -5rem;
    width: 11rem;
    height: 19rem;


}

.arrow-2 {
    position: absolute;
    right: 1.5rem;
    top: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.content {
    width: 95%;
    background-color: var(--card-bg);
    padding: 4rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hiring h3 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.15;
}

.hiring h3 span.blue {
    color: var(--blue);
}

.hiring p {
    font-weight: 500;
    max-width: 620px;
    margin: 2rem 0;
}

.image {
    margin-left: -10rem;
}

.community-button {
    height: 3.75rem;
    display: flex;
    align-items: center;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--blue);
    padding: 0 2rem;
    width: fit-content;
}

.community-icon {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}





@media (max-width: 1279px) {
	.arrow-1,
	.arrow-2 {
		width: 120px;
	}
    .content {
        padding: 3rem;
        padding-right: 6rem;
    }

    .image {
        margin-left: -5rem;
        width: 320px;
    }
}

@media (max-width: 1023px) {
    .hiring h3 {
        font-size: 2.5rem;
        max-width: 550px;
    }

    .hiring p {
        margin: 1.5rem 0;
    }

    .hiring {
        flex-direction: column-reverse;
        text-align: center;
    }

    .content {
        padding: 3rem;
        padding-top: 7rem;
        padding-bottom: 4rem;
        align-items: center;
    }

    .image {
        margin-left: 0;
        margin-bottom: -5rem;
        width: 70%;
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .hiring {
        margin-bottom: 0;
    }

    .content {
        border-radius: 1.25rem;
        padding: 2rem;
        padding-bottom: 3rem;
        padding-top: 7rem;
    }

    .community-button {
        height: 3.25rem;
        padding: 0 1.5rem;
    }
}

@media (max-width: 639px) {
	.arrow-1,
	.arrow-2 {
		width: 90px;
	}
	.arrow-1 {
		left: 1rem;
	}
	.arrow-2 {
		right: 1rem;
	}
    .hiring {
        margin: 0 -0.75rem;
    }

    .content {
        padding: 1.5rem;
        padding-bottom: 2rem;
        padding-top: 6.5em;
    }

    .hiring h3 {
        font-size: 1.8rem;
    }
}