@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Gilroy', Helvetica, Arial, sans-serif !important;
    font-style: normal !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.swiper-pagination {
    position: unset !important;
    margin-top: 1rem;

}




html,
body {
    overflow-x: hidden;
    width: 100vw;
    min-width: 360px;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

.margin {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 7rem;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

p {
    font-size: 1.25rem;
    color: var(--text-grey);
    line-height: 1.75;
}

.section-spacer {
    height: 5rem;
}

button,
a {
    user-select: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media (max-width: 1279px) {
    .margin {
        padding: 0 5rem;
    }
}

@media (max-width: 1023px) {
    .margin {
        padding: 0 3rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.125rem;
    }
}

@media (max-width: 767px) {
    .margin {
        padding: 0 2rem;
    }
}

@media (max-width: 639px) {
    .margin {
        padding: 0 1.125rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.35;
    }
}