.course_fee {
    margin: 5rem 0;
}

.course_fee>h1 {
    font-weight: 600;
    font-size: 44px;
    line-height: 125%;
    text-align: center;
    color: #000;
    margin: 3rem 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fee {
    display: flex;
    flex-direction: column;
    padding: 96px 56px 64px;
    gap: 88px;
    width: 517px;
    height: 876px;
    background: #F3FBFF;
    border-radius: 24px;
}

.fee>h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 125%;
}

.price {}

.price>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: var(--blue);
}

.price>h3 {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0.01em;
}

.price>h3>span {
    font-weight: 500;
    font-size: 13px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.6);
}

.emi {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
}

.emi h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 135%;
}

.emi span {
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #343B45;
}

.details {}

@media (max-width: 800px) {
    .course_fee {}



}

@media (max-width: 576px) {}

@media (max-width: 376px) {}