.course_fee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding: 4rem;
    /* gap: 19rem; */
    isolation: isolate;
    background: #F3FBFF;
    border-radius: 24px;
    overflow: hidden;
    margin: 5rem 0;

}

.course_fee>.fee {
    position: relative;
}

.course_fee>.fee>p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #343B45;
    margin-bottom: 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.details>div:nth-child(1) {
    display: flex;
    justify-items: stretch;
    justify-content: space-between;
}

.details>div>div>h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #000000;
}

.details>div>div>span {
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #343B45;
}

.price>div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.price>div:nth-child(1)>h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: var(--blue);
}

.price>h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #000000;
}

.price>span {
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #343B45;
}

.arrow-1 {
    position: absolute;
    left: -3rem;
    top: -7rem;
    z-index: 1;
    width: 9rem;
    transform: rotate(180deg);
}

.arrow-2 {
    position: absolute;
    right: 0rem;
    bottom: -6.5rem;
    transform: rotate(360deg);
    z-index: 1;
    width: 9rem;
}

.cut-price-wrapper {
    font-weight: 500;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.75);
    position: relative;
}

.cut-price-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.9rem;
    transform: rotate(-5deg);
    display: inline-block;
    width: 105%;
    background-color: rgba(217, 15, 15, 0.9);
    height: 3px;
}

@media (max-width: 800px) {
    .course_fee {
        flex-direction: column;
        gap: 3rem;
    }

    .arrow-1 {
        width: 9rem;
    }

    .arrow-2 {
        right: 0rem;
        bottom: -23.5rem;
        width: 9rem;
    }

}

@media (max-width: 576px) {
    .arrow-1 {
        width: 7rem;
        top: -5rem;
    }

    .arrow-2 {
        width: 7rem;
        right: -3rem;
        bottom: -21rem;
    }

    .course_fee>.fee>p {
        font-size: 16px;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }


    .details>div>div>h3 {
        font-size: 20px;
    }

    .details>div>div>span {
        font-size: 14px;
    }

    .price>div {
        gap: 10px;
    }

    .price>div:nth-child(1)>h2 {
        font-size: 38px;
    }

    .price>h1 {
        font-size: 30px;
    }

    .price>span {
        font-size: 14px;
    }



    .cut-price-wrapper {
        font-size: 1.3rem;
    }
}

@media (max-width: 376px) {
    .arrow-2 {
        top: 35rem;
    }
}